@charset "UTF-8";

/*

>>>>>> TABLE OF CONTENTS <<<<<<

===========================================

1.0 - T Y P O G R A P H Y

	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms & Dropdown Menus
	1.5 - Lists
	1.6 - Tables

2.0 - N A V I G A T I O N  M E N U S

	2.1 - Main
	2.2 - Sub
	2.3 - Footer

3.0 - C O N T E N T

	3.1 - Site Structure
	3.2 - Site Header
	3.3 - Site Footer
	3.4 - Event Cards

4.0 - M E D I A

	4.1 - Carousel

5.0 - U T I L I Y

6.0 - T A B L E T  S I Z E

	6.1 - Tablet Header
	6.2 - Tablet Structure
	6.3 - Tablet Typography
	6.4 - Tablet Buttons
	6.5 - Tablet Media
	6.6 - Tablet Footer

7.0 - M O B I L E  S I Z E

	7.1 - Mobile Header
	7.2 - Mobile Structure
	7.3 - Mobile Typography
	7.4 - Mobile Buttons
	7.5 - Mobile Media
	7.6 - Mobile Footer
	

===========================================

*/









/* >>>>>> 1.0   T Y P O G R A P H Y  <<<<<< */

/* XXXXXX 1.1 Headings XXXXXX */

h1 {
  	font: 600 2rem 'Josefin Sans', sans-serif;
  	color: #86332C; 
  	letter-spacing: 0.25rem;
  	text-align: center;
  	text-transform: uppercase; 
  	margin: 0;
}

h2 {
  	font: 400 2.6rem 'Cormorant Garamond', serif;
  	color: #86332C;
  	letter-spacing: 3px;
}

#hero h2 {
  	margin-top: 2.5rem;
  	margin-bottom: 4.5rem;
  	padding-left: 2rem;
}

#about h2, #events h2 {
	font-size: 2rem;
	letter-spacing: 2.25px;
}

#bar-options h2 {
  	font: 100 2.65rem 'Gibson', sans-serif;
  	color: #7d494b;
  	letter-spacing: 4.01px;
  	text-align: center;
  	text-transform: uppercase;
}

form h2 {
	padding-bottom: 2rem;
}

h3 {
  	font: italic 300 36px/33px 'Cormorant Garamond', serif;
  	letter-spacing: 2.83px;
}

#what-we-offer h3 {
	padding: 30px 0;
}

#contact h3 {
	margin-top: 4rem;
}

h4 {
  	font: 100 1.65rem 'Gibson', sans-serif;
  	color: #7d494b;
  	letter-spacing: .01px;
  	text-transform: uppercase;
  	margin: 0;
}

h5 {
  	font: 100 16px 'Gibson', sans-serif;
  	color: #7d494b;
  	letter-spacing: .01px;
  	text-transform: uppercase;
  	margin: 0;
}

.col-1-2 > h5 {
	font-size: 1.5rem;
	padding-top: 1.5rem;
}

h6 {
  	font: 100 16px 'Gibson', sans-serif;
  	letter-spacing: .01px;
  	margin: 0;
}

h5, h6 {
	padding-bottom: 0.25rem;
}

/* XXXXXX 1.2 Body Copy XXXXXX */

p {
  	font: 100 1.15rem/1.75rem 'Gibson', sans-serif;
  	letter-spacing: 1.05px;
  	margin: 0;
}

#greek-life p:first-child {
  	font-size: 1.45rem;
  	text-align: center;
  	line-height: 40px;
  	padding: 2rem 7rem;
}

#hero p, #about p, #events p{
	padding: 1rem 1rem;
}

h1 ~ p {
  	font: 100 1rem 'Josefin Sans', sans-serif;
  	color: #000;
  	letter-spacing: 0.25rem;
  	text-align: center;
  	text-transform: uppercase;
}

blockquote.center {
  	font: 300 2.5rem/4rem 'Cormorant Garamond', serif;
  	background-color: #f6f3f3;
  	letter-spacing: 0.73px;
  	margin-top: 5rem;
  	padding: 4rem 14rem;
}

#what-we-offer p {
	line-height: 2rem;
}

.note {
	text-align: left;
	margin: 0 auto;
	max-width: 68%;

}

footer h6.center ~ p {
	font-size: 0.75rem;
}

footer p {
	display: block;
	font-size: 0.75rem;
	line-height: 1.15rem;
}

.faq-item, .group-content {
	padding: .5rem 0;
}

.faq-item {
		width: 60%;
}

.group-content p {
	line-height: 1.5rem;
}

.group-content a {
	display: inline;
}

/* XXXXXX 1.3 Buttons XXXXXX */

.cta-btn, 
.faq-btn {
	display: block;
	font-size: .75rem;
	letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    border-radius: 2px;
    border-bottom: .25px solid #86332C;
    max-width: 300px;
    margin: 2rem auto 0 auto;
    padding: 15px 45px 15px 45px;
}

.cta-btn:hover {
	background-color: #f6f3f3;
}

form .cta-btn:hover {
	background-color: #fff;
}

.main-nav-btn {
	display: block;
	font-family: 'Cormorant Garamond', serif;
	color: #000;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.main-nav-btn:hover {
	border-bottom: 0.5px solid #000;
}

.desktop-logo a:hover {
	border-bottom: none;
}

.footer-nav-btn {
  	font: 100 0.9375rem 'Gibson', sans-serif;
  	color: #000;
  	letter-spacing: .01px;
  	text-decoration: none;
  	text-transform: uppercase;
}

.footer-nav-btn:hover {
	border-bottom: 0.5px solid #000;
}

.footer-logo-container a:hover {
	border-bottom: none;
}/* This removes the border from the logo */

footer h6.right a {
	text-transform: none;
}/* This makes Matt's email lowercase */

#social-media-btn {
	font-size: 1.75rem;
	text-decoration: none;
	width: 100px;
	margin: 0;
	padding: 0;
}

.fa-facebook-official, .fa-instagram {
	color: #86332C;
}

.fa-facebook-official:hover, .fa-instagram:hover {
	color: #e4e4e4;
}

/* XXXXXX 1.4 Forms & Dropdown Menus XXXXXX */


form {
	display: flex;
	flex-direction: column;
	width: 60%;
  	margin: 100px 0 4rem 0;
  	padding: 20px 30px;
}

form > div:first-of-type {
	display: flex;
	justify-content: space-between;
}

form .cta-btn {
	margin: 0;
}

#form-container.row {
	display: flex;
}

#form-container {
	display: flex;
	align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5rem 4rem;
}

#message {
  	background-color: #fff;
  	border-bottom: none;
  	margin: 2px 0rem 55px 0rem;
}

#name {
	font-size: 1.5rem;
	color: #86332C;
	margin-top: 15px;
}

#quantity, #type {
	margin-bottom: 20px;
}

#fname, #lname {
	display: inline-block;
  	width: 45%;
}

#time-limit {
	text-transform: none;
	padding: 0px 100px 0 0;
}

label {
	display: none;
    padding-left: 15px;
    text-indent: -15px;
}

label[for="fname"], label[for="lname"], label[for="phone"], label[for="email"], label[for="event"], label[for="message"], label[for="event-budget"], label[for="occasion"] {
	display: none;
}

input, textarea {
	background-color: transparent;
  	border: none;
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
	margin-bottom: 50px;
}

input[type="text"], input[type="tel"], input[type="email"], textarea  {
	border-bottom: .5px solid grey;
	width: 100%;
	padding: 10px;
}

select:focus, input:focus {
	outline: 0;
}/* This removes the blue highlight when
the dropdown menu is clicked */

#packages .select {
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	width: 250px;
  	height: 40px;
  	padding-left: 30px;
}

.select {
  	font: 100 1rem 'Gibson', sans-serif;
  	background-color: #fff;
  	letter-spacing: 0.75px;
  	border-bottom: none;
  	margin: 1rem 0;
  	padding-left: 1rem;
}/* THIS LOOKS DIFFERENT ON FIREFOX, FIREFOX VERSION
DOES NOT HAVE ROUNDED CORNERS, CONSIDER ADDING
BORDER RADIUS HERE */

legend {
	font-family: 'Gibson', sans-serif;
	color: grey;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px;
}

fieldset {
	font-family: 'Gibson', sans-serif;
	letter-spacing: 0.25px;
	font-weight: 100;
	text-transform: uppercase;
	border: none;
}

::-webkit-input-placeholder { 
	font-family: 'Gibson', sans-serif; 
	font-weight: 100;
	text-transform: uppercase;
 }

::-moz-placeholder {
	font-weight: 100;
	text-transform: uppercase;
}

:-ms-input-placeholder { 
	font-weight: 100;
	text-transform: uppercase;
}

:-moz-placeholder { 
	font-weight: 100;
	text-transform: uppercase;
}

/* XXXXXX 1.5 Lists XXXXXX */

/* XXXXXX 1.6 Tables XXXXXX */

table {
	float: left;
	letter-spacing: 2px;
	line-height: 20px;
	width: 50%;
	padding-right: 20px;
}

th {
  	font: 400 1rem 'Gibson', sans-serif;
  	color: #7d494b;
  	letter-spacing: 2.55px;
  	text-align: left;
  	text-transform: uppercase;
  	border-bottom: 1px solid #7d494b;
  	padding-bottom: 10px;
}

td {
  	font: 100 1rem 'Gibson', sans-serif;
  	color: #000;
  	padding: 7px 0;
}

.beverage-type {
  	font: 100 1rem 'Cormorant Garamond', serif;
  	color: #000;
  	letter-spacing: 4px;
  	text-align: left;
  	text-transform: uppercase;
  	padding-top: 13px;
}

.table-footnote {
	font-family: 'Cormorant Garamond', serif;
	color: #000;
	letter-spacing: 0.2px;
	font-size: 13px;
	font-style: italic;
	font-weight: 100;
}

 .table-price {
 	text-align: right;
 }











 /* >>>>>> 2.0  N A V I G A T I O N   M E N U S <<<<<< */

/* XXXXXX 2.1 Main XXXXXX */

.main-nav {
	margin-top: 2rem;
}

.main-nav > ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mobile-nav, .mobile-btn-wrapper {
	display: none;
}

/* XXXXXX 2.2 Sub  XXXXXX */
/* XXXXXX 2.3 Footer XXXXXX */











/* >>>>>> 3.0  C O N T E N T <<<<<< */

/* XXXXXX 3.1 Site Structure (Previously, these were base styles) XXXXXX */

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
  	padding: 0;
  	margin: 0;
}

section {
	position: relative;
	padding: 4rem 0;
}

ul {
	list-style: none;
	padding: 0;
}

[class*='col-'] { /* Targets any class that 
	begins with col- */
	float: left;
	padding-right: 20px; /* Using pixels because we 
	never want the gutter to change size */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.row:after {
	display: table;
	content: ""; /* You have to this for any 
	pseudo element before/after */
	clear: both;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%
}

.col-3-4 {
	width: 75%;
}

.wrapper {
	overflow-x: hidden;
	width: 75%;
	margin: 0 auto;
}

#events {
	overflow: hidden;
	margin-bottom: 6rem;
	/* This is hiding the scroll bar that appears 
	at the top of the Events page */
}

.address {
	color: #86332C;
	font-size: 1.25rem;
}

 .address:nth-child(3) {
 	margin-bottom: 20px;
 }

 #packages {
 	position: relative;
 	padding: 4rem;
 	z-index: 1;
 }

 .packages-header {
 	position: relative;
 	align-items: center;
 	justify-content: space-between;
 }

 .packages-header:before {
 	background-color: #000;
    position: absolute;
    top: 28%;
    left: 16%;
    width: 70%;
    height: 1px;
    content: '';
    z-index: 2;
}

.packages-header > h2 {
	text-align: center;
	padding: 0;
}

.packages-header > h2, .packages-header > div  {
	background-color: #f6f3f3;
	position: relative;
	z-index: 3;
}

.includes {
	display: block;
  	font: italic 100 1.35rem 'Cormorant Garamond', serif;
  	margin-bottom: 1rem;
}

.price {
	color: #000;
	font-size: 1.35rem;
}

.card-underline {
	width: 5rem;
	border-bottom: 1px solid #7d494b;
	margin: 1rem 0;
}

.features {
	font-family: 'Gibson', sans-serif;
	letter-spacing: 0.75px; 
	font-size: 1rem;
	font-weight: 100;
	text-transform: uppercase;
	padding-left: 1rem;
}

.features li {
	padding: 0.35rem 0;
}

.event-description {
	display: block;
	font-family: 'Cormorant Garamond', serif; 
	font-size: 1rem;
	font-style: italic;
	font-weight: 100;
	margin-left: 0;
}

.package-card {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	width: 70%;
	margin: 1rem auto;
	padding: 3rem;
}

#hero {
	position: static;
}

#what-we-offer {
	margin-top: 6rem;
}

#addressWrapper {
	padding: 0rem 4rem 0rem 0rem;
}

#addressWrapper  h5 {
	padding-bottom: .25rem;
}

/* XXXXXX 3.2 Site Header XXXXXX */

header {
	margin-bottom: 5rem;
	padding: 0;
}

.logo {
	display: block;
	width: 80px;
	margin: 0 auto 0.75rem auto;
}

.tablet-logo-container {
	display: none;
}

/* XXXXXX 3.3 Site Footer XXXXXX */

footer {
	width: 100%;
}

footer {
	display: flex;
	padding: 4rem 0;
}

footer > div {
	display: flex;
	flex-direction: column;
}

footer > div:first-of-type, footer > div:last-of-type {
	width: 11rem;
}

footer > div:nth-of-type(2) {
	width: 100%;
}

footer li {
	padding-bottom: 0.25rem;
}

footer .logo {
	width: 3rem;
}

footer h1 {
	font-size: 1.25rem;
}

footer h1 ~ p {
	font-size: 0.75rem;
}

footer h4 {
	font-size: 1rem;
}

footer > div:last-of-type {
	text-align: right;
}

.footer-logo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}

#social-media-btn a {
	padding-right: 1rem;
}

.col-1-2 a {
    text-decoration: none;
    color: #000000;
}

/* XXXXXX 3.4 Event Cards XXXXXX */

@-webkit-keyframes fade-in {

    0% { 
    	opacity: 0;
	}

    100% { 
    	opacity: 1; 
    }
}

@keyframes fade-in {

     0% { 
    	opacity: 0;
	}

    100% { 
    	opacity: 1; 
    }
}

#business, 
#tailgates, 
#aeries, 
#greek-life,
#wine-down-wednesday  {
    left: -5550px;
    -webkit-animation: face-in 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: fade-in 0.5s forwards;
}

#weddings .package-card:first-of-type > div:first-of-type,
#weddings .package-card:nth-of-type(2) > div:first-of-type,
#business .package-card:first-of-type > div:first-of-type,
#tailgates .package-card:first-of-type > div:first-of-type,
#aeries .package-card:first-of-type > div:first-of-type,
#greek-life .package-card:first-of-type > div:first-of-type,
#greek-life .package-card:nth-of-type(2) > div:first-of-type,
#wine-down-wednesday .package-card:first-of-type > div:first-of-type {
  	margin-right: 30px;
  	max-width: 50%;
  	min-width: 390px;
}

#weddings .package-card:first-of-type > div:first-of-type {
 	background: url(../img/talon-room-wedding.jpg) no-repeat right/100%;
}

#weddings .package-card:nth-of-type(2) > div:first-of-type {
  	background: url(../img/chefauchef-wedding-special.jpg) no-repeat right/100%;
}

#business .package-card:first-of-type > div:first-of-type {
  background: url(../img/business.jpg) no-repeat right/100%;
}

#tailgates .package-card:first-of-type > div:first-of-type {
  background: url(../img/tailgate.jpg) no-repeat right/100%;
}

#aeries .package-card:first-of-type > div:first-of-type {
  background: url(../img/aeries.jpg) no-repeat right/100%;
}

#greek-life .package-card:first-of-type > div:first-of-type {
  background: url(../img/greek-formals.jpg) no-repeat right/100%;
}

#greek-life .package-card:nth-of-type(2) > div:first-of-type {
  background: url(../img/greek-life-events.jpg) no-repeat right/100%;
}

#wine-down-wednesday .package-card:first-of-type > div:first-of-type {
  background: url(../img/wine-down-wednesday.jpg) no-repeat right/100%;
}











/* >>>>>> 4.0  M E D I A <<<<<< */

.img-fullwidth {
	width: 100%;
	max-width: 525px;
	min-width: 350px;
}

.red-lines {
	position: absolute;
	top: 85%;
	left: 80%;
	width: 40%;
}

.bg-gray-bar {
	background-color: #f6f3f3;
	width: 100%;
	height: 190px;
	position: absolute;
	z-index: -1;
}

.bg-gray {
	background-color: #f6f3f3;
}

body > .bg-gray-bar {
	top: 370px;
	left: 0px;
}

#hero img {
	margin-top: -50px;
}

#hero > .bg-gray-bar {
	right: 0;
	height: 205px;
}

#home-stamp {
	position: absolute;
	top: 61%;
    left: 63%;
	width: 35%;
	min-width: 200px;
}

#about img:nth-of-type(2) {
	position: absolute;
	top: 62%;
	left: 17%;
	width: 32%;
	min-width: 100px;
}

#googleCalendar {
	width: 100%;
	height: 900px;
}

#map {
	width: 40%;
  	height: 350px;
  	margin-top: 15px;
}

#map * {
	overflow: visible;
	}

#events img:nth-of-type(2) {
	position: absolute;
	top: 62%;
	left: 27%;
	width: 32%;
	min-width: 100px;
}/* This is the smaller wine glass image */

#what-we-offer img {
	margin-left: 5rem;
}/* This is moving the floor plan inwards */

/* XXXXXX 4.1 Carousel XXXXXX */

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.carousel {
	position: relative;
  	max-width: 100%;
  	margin: 0 auto;
}

.dot {
	background-color: #bbb;
	display: inline-block;
	width: 13px;
  	height: 13px;
  	border-radius: 50%; /* Needs vendor prefix */
  	transition: background-color 0.6s ease;
  	margin: 0 2px;
}

.active {
  	background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}











/* >>>>>> 5.0  U T I L I T Y <<<<<< */

.border-bottom {
	border-bottom: 1px solid black;
}

.flex {
	display: flex;
}

.relative {
	position: relative;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.menu-item, .hide {
  	display: none;
}/* By default, we will hide all of our packages */

.show {
	display: block;
}

.faq {
	display: none;
}

.group-content {
	display: none;
}






/* >>>>>> 6.0   T A B L E T  S I Z E  <<<<<< */

@media (max-width: 1050px) {


/* XXXXXX 6.1 Tablet Header XXXXXX */

.desktop-logo {
	display: none;
}

.tablet-logo-container {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

/* XXXXXX 6.2 Tablet Structure XXXXXX */

.wrapper {
	width: 95%;
}

#addressWrapper {
	width: 100%;
}

#map {
	width: 100%;
}

#googleCalendar {
	width: 100%;
	height: 600px;
}

blockquote, blockquote.center {
	font-size: 1.45rem;
	letter-spacing: 0.73px;
	line-height: 2.5rem;
	margin: 0;
	padding: 5rem;
	margin-top: 7rem;
}

/* XXXXXX 6.3 Tablet Typography XXXXXX */

#contact h2 {
	font-size: 2.25rem;
}

.faq-item {
		width: 90%;
}

/* XXXXXX 6.4 Tablet Buttons XXXXXX */
/* XXXXXX 6.5 Tablet Media XXXXXX */
/* XXXXXX 6.6 Tablet Footer XXXXXX */

}











/* >>>>>> 7.0   M O B I L E  S I Z E  <<<<<< */

@media (max-width: 480px) {

/* XXXXXX 7.1 Mobile Header XXXXXX */

header {
	margin-bottom: 2rem;
}

.mobile-btn-wrapper {
	display: flex;
	justify-content: flex-end;
}

.main-nav {
	display: none;
}

.mobile-nav > ul {
	padding: 0;
}

/* XXXXXX 7.2 Mobile Structure XXXXXX */

section {
	padding: 0;
}

form {
	width: 100%;
}

table {
	float: left;
	letter-spacing: 1px;
	line-height: 20px;
	width: 90%;
	padding: 0 2rem;
}

td {
	padding-right: 42px;
}

.col-1-2 {
	width: 100%;
}

.col-3-4 {
	width: 100%;
}

.wrapper {
	width: 100%;
}

#what-we-offer {
	margin-top: 0;
}

.package-card {
	flex-direction: column;
	width: 100%;
}

#weddings .package-card:first-of-type > div:first-of-type,
#weddings .package-card:nth-of-type(2) > div:first-of-type,
#business .package-card:first-of-type > div:first-of-type,
#tailgates .package-card:first-of-type > div:first-of-type,
#aeries .package-card:first-of-type > div:first-of-type,
#greek-life .package-card:first-of-type > div:first-of-type,
#greek-life .package-card:nth-of-type(2) > div:first-of-type,
#wine-down-wednesday .package-card:first-of-type > div:first-of-type {
  	margin-right: 30px;
  	max-width: 100%;
  	min-width: 240px;
  	height: 200px;
}

/* XXXXXX 7.3 Mobile Typography XXXXXX */

h2 {
	padding: 2rem 1rem 0;
	font-size: 2.65rem;
	text-align: left;
	margin-bottom: 20px;
}

h4 {
  	font: 100 1.65rem 'Gibson', sans-serif;
  	text-align: center;
  	text-transform: uppercase;
  	margin: 0;
}

#about h2, #events h2 {
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2px;
}

#contact h2 {
	padding-top: 8rem;
}

#contact h2, #form-container h2 {
	font-size: 2.25rem;
}

#contact h5, #contact h3 {
	padding: 0 1rem;
}

#addressWrapper {
	padding: 2rem;
}

#addressWrapper  h5 {
	padding: 1rem;
}

#what-we-offer h3 {
	padding-left: 2rem;
}

#what-we-offer p {
	text-align: left;
}

p {
  	font: 100 1.10rem/1.75rem 'Gibson', sans-serif;
  	letter-spacing: 1.05px;
  	text-align: center;
  	margin: 0;
  	padding: 0 1rem;
}

.note {
	line-height: 18px;
	max-width: 100%;
	padding: 0;
}

.includes {
	text-align: center;
  	margin: 1rem 0;
}

.features {
	font-size: 15px;
	text-align: center;
	padding-left: 0;
}

.features li {
	padding: 1rem 0;
}

#greek-life p:first-child {
  	font-size: 1.11rem;
  	line-height: 33px;
  	margin: 3rem 0;
  	padding: 0;
}


/* XXXXXX 7.4 Mobile Buttons XXXXXX */

#contact .cta-btn {
	margin-bottom: 3rem;
}

/* XXXXXX 7.5 Mobile Media XXXXXX */

img {
	margin: 0 auto;
	width: 100%;
}

#about img:nth-of-type(2) {
	display: none;
}

.bg-gray-bar {
	display: none;
}

#events img:first-of-type {
	display: none;
}

#events img:nth-of-type(2) {
	display: none;
}

.card-underline {
	margin: 0 auto;
	padding: 1rem 0;
}


/* XXXXXX 7.6 Mobile Footer XXXXXX */

footer {
	display: flex;
	flex-direction: column;

	align-items: center;
}

footer > div {
	width: 100%;
	margin: 1rem 0;
}

footer > div:nth-of-type(2) {
	order: -1;
}

footer nav > ul:first-of-type {
	display: none;
}

footer > div:last-of-type {
	text-align: center;
}

#social-media-btn {
	margin: 0 auto;
	text-align: center;
}

#googleCalendarWrapper
{
	overflow:scroll;
}

}