@charset "UTF-8";

/* BASE STYLES */
*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
	overflow-x: hidden;
}

section {
	position: relative;
	padding: 4rem 0;
}

header {
	margin-bottom: 5rem;
	padding: 0;
}



/* XXXXXX TYPOGRAPHY XXXXXX */
h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 2rem;
	color: #86332C;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	margin: 0;
}

h2 {
	font-family:'Cormorant Garamond', serif; 
	font-size: 2.75rem;
	font-weight: 400;
	letter-spacing: 2.1px;
	color: #86332C;
}

h3 {
	font-family:'Cormorant Garamond', serif;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 2.83px;
	line-height: 33px;
}

h5 {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	color: #7d494b;
	font-weight: 100;
	letter-spacing: .01px;
	text-transform: uppercase;
	margin: 0;
}

h6 {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: .01px;
	margin: 0;
}


h5, h6 {
	padding-bottom: 0.25rem;
}

p {
	font-family: 'Gibson', sans-serif;
	font-size: 1.15rem;
	font-weight: 100;
	letter-spacing: 1.05px;

	width: 90%;
	margin: 0 auto;
	max-width: 300px;
}

blockquote {
	background-color: #f6f3f3;
	font-family: 'Cormorant Garamond', serif; 
	font-size: 44px;
	font-weight: 300;
	letter-spacing: 0.73px;
	line-height: 43px;
	margin: 0;
	padding: 4rem;
}

ul {
	list-style: none;
	padding: 0;
}

h1 ~ p {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 1rem;
	font-weight: 100;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	margin: 5px;
}



/* XXXXXX BUTTONS XXXXXX */

.cta-btn {
    color: #86332C;
    border: 0.25px solid #86332C;
    padding: 15px 40px;
    display: block;
    text-decoration: none;
    text-align: center;

    width: 90%;
    margin: 2rem auto 0 auto;
    max-width: 300px;
}

.cta-btn:hover {
	background-color: #f6f3f3;
}

.main-nav-btn {
	color: black;
	display: block;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav-btn:hover {
	border-bottom: 0.5px solid #000;
}

.desktop-logo a:hover {
	border-bottom: none;
}

.footer-nav-btn {
	font-size: 0.9375rem;
	font-weight: 100;
	letter-spacing: .01px;
	color: #000;
	display: block;
	font-family: 'Gibson', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-nav-btn.left:hover {
	color: #86332C;
	font-weight: 400;
}

.footer-nav-btn.right:hover {
	color: #86332C;
}

footer h6.right a {
	text-transform: none;
}

footer h6.center {
	font-size: 0.75rem;
	padding-top: 1rem;
}

footer h6.center ~ p {
	font-size: 0.75rem;
}

footer p {
	font-size: 0.75rem;
	line-height: 1.15rem;
}




#social-media-btn {
	width: 100px;
	font-size: 1.85rem;
	padding: 0;
	text-decoration: none;
	margin: 0;
}

.fa-facebook-official, .fa-instagram {
	color: #e4e4e4;
}

.fa-facebook-official:hover, .fa-instagram:hover {
	color: #86332C;
}





/* XXXXXX UTILITY XXXXXX (ONLY FOR CLASSES THAT ARE DOING ONE TASK) */

.bg-gray {
	background-color: #f6f3f3;
	height: 190px;
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 68%;
	left: 0;
}

.img-fullwidth {
	width: 100%;
	max-width: 450px;
}

.flex {
	display: flex;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.relative {
	position: relative;
}


/* XXXXXX IDS XXXXXX */

#home-stamp {
	min-width: 200px;
	width: 35%;
	position: absolute;
	top: 61%;
    left: 63%;
}



/* XXXXXX SITE HEADER XXXXXX */

.logo {
	width: 80px;
	margin: 0 auto 0.75rem auto;
	display: block;
}

.main-nav > ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mobile-nav, .mobile-btn-wrapper {
	display: none;
}

.tablet-logo-container {
	display: none;
}


/* XXXXXX SITE FOOTER XXXXXX */

footer {
	display: flex;

	padding: 4rem 0;
}

footer > div {
	display: flex;
	flex-direction: column;
}

footer > div:first-of-type, footer > div:last-of-type {
	width: 20%;
}

footer > div:nth-of-type(2) {
	width: 60%;
}

.footer-logo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 0.75rem;
}

#social-media-btn a {
	padding-right: 1rem;
}

footer li {
	padding-bottom: 0.25rem;
}

footer .logo {
	width: 3rem;
}

footer h1 {
	font-size: 1.25rem;
}

footer h1 ~ p {
	font-size: 0.75rem;
}


/* >>>>>> CONTACT PAGE <<<<<< */


#map {
  height: 200px;
  margin-top: 100px;
  width: 50%;
}

/* XXXXXX SLIDESHOW CONTAINER XXXXXX */


.carousel {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ON SMALLER SCREENS, DESCREASE TEXT SIZE */



/* XXXXXX COLUMNS XXXXXX */

[class*='col-'] { /* Targets any class that beings with col- */
	float: left;
	padding-right: 20px; /* Using pixels because we never want the gutter to change size */
	margin-bottom: 20px;
}

.row:after {
	content: ""; /* You have to this for any pseudo element before/after */
	display: table;
	clear: both;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.col-1-1 {
	width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TWO COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-2 {
	width: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ THREE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-3 {
	width: 33.33%
}

.col-2-3 {
	width: 66.671%
}

.col-2-5 {
	width: 40%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOUR COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FIVE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-5 {
	width: 20%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SIX COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.34%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SEVEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.715%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ EIGHT COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NINE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-9 {
	width: 11.11%;
}

.col-8-9 {
	width: 88.89%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ELEVEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-11 {
	width: 9.09%;
}

.col-10-11 {
	width: 90.91%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TWELVE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-12 {
	width: 8.33%;
}

.col-11-12 {
	width: 91.67%;
}

/* TABLET SIZE  */


@media (max-width: 850px) {

	.desktop-logo {
		display: none;
	}
	.tablet-logo-container {
		display: flex;
		justify-content: center;
		margin-top: 1em;
	}
}

/* MOBILE SIZE */


@media (max-width: 480px) {

	.mobile-btn-wrapper {
		display: flex;
		justify-content: flex-end;
	}

	.main-nav {
		display: none;
	}

	.wrapper {
		width: 100%;
	}
	
	img {
		margin: 0 auto;
		width: 100%;
	}

	h2 {
		padding: 0;
		font-size: 1rem;
	}

	.col-1-2 {
		width: 100%;
		padding: 0;
	}

	header {
		margin-bottom: 2rem;
	}

	.mobile-nav > ul {
		padding: 0;
	}

	footer {
		display: block;
	}

	footer > div {
		width: 100%;
	}


}