@charset "UTF-8";

/*  USE THESE AS REFERENCES :)

font-family: 'Gibson', sans-serif;
font-family: 'Cormorant Garamond', serif; 

*/


/*

>>>>>> TABLE OF CONTENTS <<<<<<

===========================================

1.0 - TYPOGRAPHY

1.1 - Headings
1.2 - Body Copy
1.3 - Buttons
1.4 - Forms
1.5 - Lists
1.6 - Tables

2.0 - NAVIGATION MENUS

2.1 - Main
2.2 - Sub
2.3 - Footer

3.0 - CONTENT
3.1 - Site Structure
3.2- Site Header
3.3- Site Footer

4.0 - MEDIA

5.0 - UTILIY
5.1 - Text Sizes
5.2 - Colors
5.3 - Alignments

===========================================

*/

/* >>>>>> 1.0 TYPOGRAPHY <<<<<< */

/* XXXXXX 1.1 Headings XXXXXX */
h1 {
	text-align: center;
}
h2 {
	font-family:'Cormorant Garamond', serif; 
	font-size: 43px;
	font-weight: 400;
	letter-spacing: 2.1px;
	color: #86332C;
}

h3 {
	font-family:'Cormorant Garamond', serif;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 2.83px;
	line-height: 33px;
}

p {
	font-family: 'Gibson', sans-serif;
	font-size: 21px;
	font-weight: 100;
	letter-spacing: 1.05px;	
}

blockquote p {
	font-family: 'Cormorant Garamond', serif; 
	font-size: 44px;
	font-weight: 300;
	letter-spacing: 0.73px;
	line-height: 43px;
}

ul {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #86332C;
}

blockquote {
	background-color: #f6f3f3;
}


/* UTILITY CLASSES */

.bg-gray {
	background-color: #f6f3f3;
	height: 152px;
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 50px;
	left: 50px;
}

.img-fullwidth {
	width: 100%;
}

/* XXXXXX 1.2 Body Copy XXXXXX */
/* XXXXXX 1.3 Buttons XXXXXX */
/* XXXXXX 1.4 Forms XXXXXX */
/* XXXXXX 1.5 Lists XXXXXX */
/* XXXXXX 1.6 Tables XXXXXX */

/* >>>>>> 2.0 NAVIGATION MENUS <<<<<< */

/* XXXXXX 2.1 Main XXXXXX */



.main-nav > ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer > .col-1-5, .col-3-5 {
	display: flex;
	justify-content: space-around;
	align-items: center;

	display: inline-block;
}

footer ul li, #social-nav {
	display: inline; /*fix font awesome li */
}

footer ul li {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: .01px;
	text-transform: uppercase;
}

footer .col-1-5 > p {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: .01px;
}

footer h5 {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	color: #7d494b;
	font-weight: 100;
	letter-spacing: .01px;
	text-transform: uppercase;
}



.mobile-nav, .mobile-btn-wrapper {
	display: none;
}

.tablet-logo {
	display: none;
}

.mobile-btn-wrapper {
	display: none;
}

/* XXXXXX 2.2 Sub  XXXXXX */
/* XXXXXX 2.3 Footer XXXXXX */

/* >>>>>> 3.0 CONTENT <<<<<< */

/* XXXXXX 3.1 Site Structure XXXXXX */

.flex {
	display: flex;
	justify-content: space-around;
}

/* Image Gallery */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


}

	
section {
	position: relative;
}

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.row:after {
	content: ""; /* You have to this for any pseudo element before/after */
	display: table;
	clear: both;
}

[class*='col-'] { /* Targets any class that beings with col- */
	float: left;
	padding-right: 20px; /* Using pixels because we never want the gutter to change size */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

/* XXXXXX 3.2 Site Header XXXXXX */
/* XXXXXX 3.3 Site Footer XXXXXX */

/* >>>>>> 4.0 MEDIA <<<<<< */

#map {
    height: 200px;
    margin-top: 100px;
    width: 50%;
}

/* >>>>>> 5.0 UTILITY <<<<<< (ONLY FOR CLASSES THAT ARE DOING ONE TASK) */

/* XXXXXX 5.1 Text Sizes XXXXXX */
/* XXXXXX 5.2 Colors XXXXXX */
/* XXXXXX 5.3 Alignments XXXXXX */




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LARGE SCREEN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ONE COLUMN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-1 {
	width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TWO COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-2 {
	width: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ THREE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-3 {
	width: 33.33%
}

.col-2-3 {
	width: 66.671%
}

.col-2-5 {
	width: 40%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOUR COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FIVE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-5 {
	width: 20%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SIX COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.34%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SEVEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.715%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ EIGHT COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NINE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-9 {
	width: 11.11%;
}

.col-8-9 {
	width: 88.89%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ELEVEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-11 {
	width: 9.09%;
}

.col-10-11 {
	width: 90.91%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TWELVE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-12 {
	width: 8.33%;
}

.col-11-12 {
	width: 91.67%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SMALLER SCREEN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media (max-width: 850px) {

	.desktop-logo {
		display: none;
	}
	.tablet-logo {
		display: flex;
		justify-content: center;

	}
}


@media (max-width: 480px) {

	.mobile-btn-wrapper {
		display: flex;
		justify-content: flex-end;
	}

	.main-nav {
		display: none;
	}
	

}



