@charset "UTF-8";

/* 

TABLE OF CONTENTS
-----------------------------

1.0 BASE STYLES
	1.1 Utility Classes

2.0 STRUCTURE
	2.1 Site Header
	2.2 Typography
	2.3 Buttons
	2.4 Media
	2.5 Site Footer

3.0 CONTACT PAGE
4.0 EVENTS PAGE

5.0 COLUMN WIDTHS

6.0 TABLET SIZE
	6.1 Tablet Header
	6.2 Tablet Structure
	6.3 Tablet Typography
	6.4 Tablet Buttons
	6.5 Tablet Media
	6.6 Tablet Footer

7.0 MOBILE SIZE
	7.1 Mobile Header
	7.1 Mobile Structure
	7.2 Mobile Typography
	7.3 Mobile Buttons
	7.4 Mobile Media
	7.5 Mobile Footer

-----------------------------

*/






/* 1.0 BASE STYLES */

html * {
  padding: 0;
  margin: 0;
}

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	position: relative;
	padding: 4rem 0;
}

header {
	margin-bottom: 5rem;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
}

[class*='col-'] { /* Targets any class that beings with col- */
	float: left;
	padding-right: 20px; /* Using pixels because we never want the gutter to change size */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.row:after {
	content: ""; /* You have to this for any pseudo element before/after */
	display: table;
	clear: both;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	overflow-x: hidden;
}

#events {
	margin-bottom: 6rem;
	overflow: hidden;
	/* This is hiding the scroll bar that appears 
	at the top of the Events page */
} 

#what-we-offer {
	margin-top: 6rem;
}






/* 1.1 Utility Classes */

.border-bottom {
	border-bottom: 1px solid black;
}

.flex {
	display: flex;
}

.relative {
	position: relative;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}





/* 2.0 STRUCTURE */

/* 2.1 Site Header */

.logo {
	width: 80px;
	margin: 0 auto 0.75rem auto;
	display: block;
}

.main-nav {
	margin-top: 2rem;
}

.main-nav > ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mobile-nav, .mobile-btn-wrapper {
	display: none;
}

.tablet-logo-container {
	display: none;
}






/* 2.2 Typography */

h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 2rem;
	color: #86332C;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	margin: 0;
}

h2 {
	font-family:'Cormorant Garamond', serif; 
	font-size: 2.75rem;
	font-weight: 400;
	letter-spacing: 3px;
	color: #86332C;

	margin-bottom: 4rem;
	padding: 0 2rem;
}

#about h2, #events h2 {
	font-size: 2rem;
	letter-spacing: 2.25px;
	padding: 0 2rem;
}

h3 {
	font-family:'Cormorant Garamond', serif;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 2.83px;
	line-height: 33px;
}

h4 {
	font-family: 'Gibson', sans-serif;
	font-size: 1.5rem;
	color: #7d494b;
	font-weight: 100;
	letter-spacing: .01px;
	text-transform: uppercase;
	margin: 0;
}/* This is the same as h5 */

h5 {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	color: #7d494b;
	font-weight: 100;
	letter-spacing: .01px;
	text-transform: uppercase;
	margin: 0;
}

h6 {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: .01px;
	margin: 0;
}

h5, h6 {
	padding-bottom: 0.25rem;
}

p {
	display: inline;
	font-family: 'Gibson', sans-serif;
	font-size: 1.15rem;
	font-weight: 100;
	letter-spacing: 1.05px;
	line-height: 1.75rem;
	margin: 0 auto;
	max-width: 446px;
}

#hero p, #about p, #events p{
	padding: 0 1rem;
}

h1 ~ p {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 1rem;
	font-weight: 100;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}

blockquote {
	background-color: #f6f3f3;
	font-family: 'Cormorant Garamond', serif; 
	font-size: 2.75rem;
	font-weight: 300;
	letter-spacing: 0.73px;
	line-height: 4.5rem;

	margin: 5rem 0 0 1rem;
	padding: 4rem 14rem;
}

.includes {
	font-family: 'Cormorant Garamond', serif; 
	font-size: 1rem;
	font-style: italic;
}






/* 2.3 Buttons */

.cta-btn {
    color: #86332C;
    border: 0.25px solid #86332C;
    padding: 15px 40px;
    display: block;
    text-decoration: none;
    text-align: center;

    width: 90%;
    margin: 2rem auto 0 auto;
    max-width: 300px;
}

.cta-btn:hover {
	background-color: #f6f3f3;
}

.main-nav-btn {
	color: black;
	display: block;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav-btn:hover {
	border-bottom: 0.5px solid #000;
}

.desktop-logo a:hover {
	border-bottom: none;
}

.footer-nav-btn {
	font-size: 0.9375rem;
	font-weight: 100;
	letter-spacing: .01px;
	color: #000;
	font-family: 'Gibson', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-nav-btn:hover {
	border-bottom: 0.5px solid #000;
}

.footer-logo-container a:hover {
	border-bottom: none;
}/* This removes the border from the logo */

footer h6.right a {
	text-transform: none;
}/* This makes Matt's email lowercase */

footer h6.center ~ p {
	font-size: 0.75rem;
}

footer p {
	font-size: 0.75rem;
	line-height: 1.15rem;
}

#social-media-btn {
	width: 100px;
	font-size: 1.75rem;
	padding: 0;
	text-decoration: none;
	margin: 0;
}

.fa-facebook-official, .fa-instagram {
	color: #86332C;
}

.fa-facebook-official:hover, .fa-instagram:hover {
	color: #e4e4e4;
}






/* 2.4 Media */

.img-fullwidth {
	width: 100%;
	max-width: 525px;
}

.red-lines {
	position: absolute;
	top: 85%;
	left: 80%;
	width: 40%;
}

.card-underline {
	width: 5rem;
	border-bottom: 1px solid #7d494b;
}

.bg-gray-bar {
	background-color: #f6f3f3;
	height: 190px;
	width: 100%;
	z-index: -1;
	position: absolute;
}

.bg-gray {
	background-color: #f6f3f3;
}

#hero {
	position: static;
}

#hero > .bg-gray-bar {
	top: 40%;
	right: 0;
}

#home-stamp {
	width: 35%;
	min-width: 200px;
	
	position: absolute;
	top: 61%;
    left: 63%;
}

#about img:nth-of-type(2) {
	width: 32%;
	min-width: 100px;

	position: absolute;
	top: 62%;
	left: 17%;
}

#events img:nth-of-type(2) {
	width: 32%;
	min-width: 100px;

	position: absolute;
	top: 62%;
	left: 27%;
}

#what-we-offer img {
	margin-left: 5rem;
}/* This is moving the floor plan inwards */

/* SLIDESHOW CONTAINER */

.carousel {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}






/* 2.5 Site Footer */

footer {
	display: flex;

	padding: 4rem 0;
}

footer > div {
	display: flex;
	flex-direction: column;
}

footer > div:first-of-type, footer > div:last-of-type {
	width: 20%;
}

footer > div:nth-of-type(2) {
	width: 60%;
}

footer li {
	padding-bottom: 0.25rem;
}

footer .logo {
	width: 3rem;
}

footer h1 {
	font-size: 1.25rem;
}

footer h1 ~ p {
	font-size: 0.75rem;
}

footer > div:last-of-type {
	text-align: right;
}

.footer-logo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}

#social-media-btn a {
	padding-right: 1rem;
}




/* 3.0 CONTACT PAGE */

#map {
  height: 350px;
  margin-top: 15px;
  width: 40%;
}

.col-1-2 > h5 {
	font-size: 1.5rem;
}

.col-1-2 a {
    text-decoration: none;
    color: #000000;
}
#name {
	font-size: 1.5rem;
	color: #86332C;
	margin-top: 15px;
}






/* 4.0 EVENTS PAGE */

.address {
	font-size: 1.25rem;
	color: #86332C;
}
 .address:nth-child(3) {
 	margin-bottom: 20px;
 }

 #packages {
 	padding: 4rem;
 	position: relative;
 	z-index: 1;
 }

 .packages-header {
 	justify-content: space-between;
 	align-items: center;
 	position: relative;
 }

 .packages-header:before {
    position: absolute;
    top: 28%;
    left: 16%;
    height: 1px;
    width: 70%;
    background-color: #000;
    content: '';
    z-index: 2;
}

.packages-header > h2 {
	text-align: center;
	padding: 0;
}

.packages-header > h2, .packages-header > div  {
	background-color: #f6f3f3;
	position: relative;
	z-index: 3;
}

.package-card {
	background-color: #fff;

	display: flex;
	justify-content: space-between;
}

.package-card > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/talon-room-wedding.jpg);
	background-size: cover;
}



/* 5.0 COLUMN WIDTHS */

/* ONE COLUMN */

.col-1-1 {
	width: 100%;
}

/* TWO COLUMNS */

.col-1-2 {
	width: 50%;
}

/* THREE COLUMNS */

.col-1-3 {
	width: 33.33%
}

.col-2-3 {
	width: 66.671%
}

.col-2-5 {
	width: 40%;
}
/* FOUR COLUMNS */

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

/* FIVE COLUMNS */

.col-1-5 {
	width: 20%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

/* SIX COLUMNS */

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.34%;
}

/* SEVEN COLUMNS */

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.715%;
}

/* EIGHT COLUMNS */

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

/*  NINE COLUMNS */

.col-1-9 {
	width: 11.11%;
}

.col-8-9 {
	width: 88.89%;
}

/* TEN COLUMNS */

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}

/* ELEVEN COLUMN */

.col-1-11 {
	width: 9.09%;
}

.col-10-11 {
	width: 90.91%;
}

/* TWELVE COLUMNS */

.col-1-12 {
	width: 8.33%;
}

.col-11-12 {
	width: 91.67%;
}






/* 6.0 TABLET SIZE */

@media (max-width: 850px) {


/* 6.1 Tablet Header */

	.desktop-logo {
		display: none;
	}
	.tablet-logo-container {
		display: flex;
		justify-content: center;
		margin-top: 1em;
	}

/* 6.2 Tablet Structure */

/* 6.3 Tablet Typography */

/* 6.4 Tablet Buttons */

/* 6.5 Tablet Media */

/* 6.6 Tablet Footer */

}




/* 7.0 MOBILE SIZE */

@media (max-width: 480px) {

/* 7.1 Mobile Header */

header {
	margin-bottom: 2rem;
}

.mobile-btn-wrapper {
	display: flex;
	justify-content: flex-end;
}

.main-nav {
	display: none;
}

.mobile-nav > ul {
	padding: 0;
}

/* 7.2 Mobile Structure */

.wrapper {
	width: 100%;
}

.col-1-2 {
	width: 100%;
	padding: 0;
}

#what-we-offer {
	margin-top: 0;
}

/* 7.3 Mobile Typography */

h2 {
	padding: 0 1rem;
	font-size: 2.65rem;
	text-align: left;
	margin-bottom: 3rem;
	}

#what-we-offer h3 {
	padding-left: 2rem;
}

#what-we-offer p {
	text-align: left;
}

p {
	line-height: 2rem;
	padding: 0 3rem;
}

blockquote {
	font-size: 1.45rem;
	letter-spacing: 0.73px;
	line-height: 2.5rem;
	margin: 0;
	padding: 3rem;
}

/* 7.4 Mobile Buttons */

/* 7.5 Mobile Media */

img {
	margin: 0 auto;
	width: 100%;
	}

#about img:nth-of-type(2) {
	display: none;
}


.bg-gray-bar {
	display: none;
}

/* 7.6 Mobile Footer */

footer {
	display: flex;
	flex-direction: column;

	align-items: center;
}

footer > div {
	width: 100%;
	margin: 1rem 0;
}

footer > div:nth-of-type(2) {
	order: -1;
}

footer nav > ul:first-of-type {
	display: none;
}

footer > div:last-of-type {
	text-align: center;
}

footer > div:first-of-type, footer > div:last-of-type {
	width: 100%;
}

#social-media-btn {
	margin: 0 auto;
	text-align: center;
}

}