@charset "UTF-8";

/*

>>>>>> TABLE OF CONTENTS <<<<<<

===========================================

1.0 - T Y P O G R A P H Y

	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables

2.0 - N A V I G A T I O N  M E N U S

	2.1 - Main
	2.2 - Sub
	2.3 - Footer

3.0 - C O N T E N T

	3.1 - Site Structure
	3.2- Site Header
	3.3 - Site Footer
	3.4 - Event Cards

4.0 - M E D I A

	4.1 - Carousel

5.0 - U T I L I Y

6.0 - T A B L E T  S I Z E

	6.1 - Tablet Header
	6.2 - Tablet Structure
	6.3 - Tablet Typography
	6.4 - Tablet Buttons
	6.5 - Tablet Media
	6.6 - Tablet Footer

7.0 - M O B I L E  S I Z E

	7.1 - Mobile Header
	7.2 - Mobile Structure
	7.3 - Mobile Typography
	7.4 - Mobile Buttons
	7.5 - Mobile Media
	7.6 - Mobile Footer
	

===========================================

*/









/* >>>>>> 1.0   T Y P O G R A P H Y  <<<<<< */

/* XXXXXX 1.1 Headings XXXXXX */

h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 2rem;
	color: #86332C;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	margin: 0;
}

h2 {
	font-family:'Cormorant Garamond', serif; 
	font-size: 2.6rem;
	font-weight: 400;
	letter-spacing: 3px;
	color: #86332C;
	margin-bottom: 4rem;
	padding: 0 2rem;
}

#hero h2 {
	margin-top: 2.5rem;
	margin-bottom: 4.5rem;
	padding: 0 0 0 2rem;
}

#about h2, #events h2 {
	font-size: 2rem;
	letter-spacing: 2.25px;
}

#bar-options h2 {
	font-family: 'Gibson', sans-serif;
	font-size: 2.65rem;
	color: #7d494b;
	font-weight: 100;
	letter-spacing: 4.01px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-family:'Cormorant Garamond', serif;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 2.83px;
	line-height: 33px;
}

#what-we-offer h3 {
	padding: 30px 0;
}

#contact h3 {
	margin-top: 4rem;
}

h4 {
	font-family: 'Gibson', sans-serif;
	font-size: 1.65rem;
	color: #7d494b;
	font-weight: 100;
	letter-spacing: .01px;
	text-transform: uppercase;
	margin: 0;
}/* This is the same as h5 */

h5 {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	color: #7d494b;
	font-weight: 100;
	letter-spacing: .01px;
	text-transform: uppercase;
	margin: 0;
}

.col-1-2 > h5 {
	font-size: 1.5rem;
}

h6 {
	font-family: 'Gibson', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: .01px;
	margin: 0;
}

h5, h6 {
	padding-bottom: 0.25rem;
}









/* XXXXXX 1.2 Body Copy XXXXXX */

p {
	font-family: 'Gibson', sans-serif;
	font-size: 1.15rem;
	font-weight: 100;
	letter-spacing: 1.05px;
	line-height: 1.75rem;
	margin: 0;
}

#hero p, #about p, #events p{
	padding: 0 1rem;
}

h1 ~ p {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 1rem;
	font-weight: 100;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}

blockquote {
	background-color: #f6f3f3;
	font-family: 'Cormorant Garamond', serif; 
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.73px;
	line-height: 4rem;

	margin: 5rem 0 0 1rem;
	padding: 4rem 14rem;
}

#what-we-offer p {
	line-height: 2rem;
}

.note {
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
}

footer h6.center ~ p {
	font-size: 0.75rem;
}

footer p {
	display: block;
	font-size: 0.75rem;
	line-height: 1.15rem;
}









/* XXXXXX 1.3 Buttons XXXXXX */

.cta-btn {
    color: #86332C;
    border: 0.25px solid #86332C;
    padding: 15px 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 2rem auto 0 auto;
    max-width: 300px;
}

.cta-btn:hover {
	background-color: #f6f3f3;
}

.main-nav-btn {
	color: black;
	display: block;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav-btn:hover {
	border-bottom: 0.5px solid #000;
}

.desktop-logo a:hover {
	border-bottom: none;
}

.footer-nav-btn {
	font-size: 0.9375rem;
	font-weight: 100;
	letter-spacing: .01px;
	color: #000;
	font-family: 'Gibson', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-nav-btn:hover {
	border-bottom: 0.5px solid #000;
}

.footer-logo-container a:hover {
	border-bottom: none;
}/* This removes the border from the logo */

footer h6.right a {
	text-transform: none;
}/* This makes Matt's email lowercase */

#social-media-btn {
	width: 100px;
	font-size: 1.75rem;
	padding: 0;
	text-decoration: none;
	margin: 0;
}

.fa-facebook-official, .fa-instagram {
	color: #86332C;
}

.fa-facebook-official:hover, .fa-instagram:hover {
	color: #e4e4e4;
}









/* XXXXXX 1.4 Forms XXXXXX */

#form-container.row {
	display: flex;
}

#form-container {
	align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

#message, #select {
  	background-color: #fff;
  	border-bottom: none;
}

#name {
	font-size: 1.5rem;
	color: #86332C;
	margin-top: 15px;
}

#quantity, #type {
	margin-bottom: 20px;
}

#fname, #lname {
  	width: 45%;
  	display: inline-block;
}

#time-limit {
	padding: 0px 100px 0 0;
	text-transform: none;
}

form > div:first-of-type {
	display: flex;
	justify-content: space-between;
}

form {
	margin-bottom: 4rem;
}

form .cta-btn {
	margin: 0;
}

form p {
	margin: 0;
}

legend {
	font: inherit;
    font-weight: 100;
    font-family: gibson;
    text-transform: uppercase;
    color: #333;
    padding: 10px;
}

fieldset {
	border: 0 none;
	margin: 10px 200px; 
  	font-family: coromorant gramond, serif;
  	font-weight: 100;
  	font-size: 28px;
  	color: grey;
}

label {
    padding-left: 15px;
    text-indent: -15px;
}

label[for="fname"], label[for="lname"], label[for="phone"], label[for="email"], label[for="event"], label[for="message"], label[for="event-budget"], label[for="occasion"] {
	display: none;
}

input, textarea, select {
  	border: none;
    background-color: #FAF8F7
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
	margin-bottom: 50px;
}

form {
  	margin-top: 100px;
  	background-color: #FAF8F7;
  	padding: 20px 30px;
  	width: 60%;
  	display: flex;
  	flex-direction: column;
}

form p {
	margin-bottom: 10px;
}

select, input[type="text"], input[type="tel"], input[type="email"], textarea  {
	width: 100%;
	border-bottom: .5px solid grey;
	padding: 10px;
}

select {
    height: 30px;
	font-family: 'Gibson', sans-serif;
    font-weight: 100;
}

select, input[type="radio"], input[type="checkbox"] {
	margin: 0 5px 20px 0;
  	background: #fff;
}

::-webkit-input-placeholder { 
	text-transform: uppercase;
	font-weight: 100;
    font-family: 'Gibson', sans-serif; 
 }
::-moz-placeholder {
	text-transform: uppercase;
	font-weight: 100;
}
:-ms-input-placeholder { 
	text-transform: uppercase;
	font-weight: 100;
}
:-moz-placeholder { 
	text-transform: uppercase;
	font-weight: 100;
}









/* XXXXXX 1.5 Lists XXXXXX */









/* XXXXXX 1.6 Tables XXXXXX */

table {
	width: 50%;
	float: left;
}

th {
	font-family: 'Gibson', sans-serif;
	font-size: 1rem;
	color: #7d494b;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 10px;
	letter-spacing: 2.55px;
	border-bottom: 1px solid #7d494b;
}

td {
	font-family: 'Gibson', sans-serif;
	font-size: 1rem;
	color: #000;
	font-weight: 100;
	padding: 7px 0;
}

.beverage-type {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1rem;
	color: #000;
	font-weight: 100;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 4px;
}

.table-footnote {
	font-family: 'Cormorant Garamond', serif;
	font-size: 13px;
	color: #000;
	letter-spacing: 0.2px;
	font-style: italic;
	font-weight: 100;
}

 .table-price {
 	text-align: right;
 }









 /* >>>>>> 2.0  N A V I G A T I O N   M E N U S <<<<<< */

/* XXXXXX 2.1 Main XXXXXX */

.main-nav {
	margin-top: 2rem;
}

.main-nav > ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mobile-nav, .mobile-btn-wrapper {
	display: none;
}









/* XXXXXX 2.2 Sub  XXXXXX */









/* XXXXXX 2.3 Footer XXXXXX */









/* >>>>>> 3.0  C O N T E N T <<<<<< */

/* XXXXXX 3.1 Site Structure (Previously, these were base styles) XXXXXX */

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
  	padding: 0;
  	margin: 0;
}

section {
	position: relative;
	padding: 4rem 0;
}

ul {
	list-style: none;
	padding: 0;
}

[class*='col-'] { /* Targets any class that 
	begins with col- */
	float: left;
	padding-right: 20px; /* Using pixels because we 
	never want the gutter to change size */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.row:after {
	content: ""; /* You have to this for any 
	pseudo element before/after */
	display: table;
	clear: both;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
	overflow-x: hidden;
}

#events {
	margin-bottom: 6rem;
	overflow: hidden;
	/* This is hiding the scroll bar that appears 
	at the top of the Events page */
}

.address {
	font-size: 1.25rem;
	color: #86332C;
}
 .address:nth-child(3) {
 	margin-bottom: 20px;
 }

 #packages {
 	padding: 4rem;
 	position: relative;
 	z-index: 1;
 }

 .packages-header {
 	justify-content: space-between;
 	align-items: center;
 	position: relative;
 }

 .packages-header:before {
    position: absolute;
    top: 28%;
    left: 16%;
    height: 1px;
    width: 70%;
    background-color: #000;
    content: '';
    z-index: 2;
}

.packages-header > h2 {
	text-align: center;
	padding: 0;
}

.packages-header > h2, .packages-header > div  {
	background-color: #f6f3f3;
	position: relative;
	z-index: 3;
}

.includes {
	font-family: 'Cormorant Garamond', serif; 
	font-size: 1.35rem;
	font-style: italic;
	font-weight: 100;
	display: block;
	margin-bottom: 1rem;
}

.price {
	font-size: 1.35rem;
	color: #000;
}

.card-underline {
	width: 5rem;
	border-bottom: 1px solid #7d494b;
	margin: 1rem 0;
}

.features {
	font-family: 'Gibson', sans-serif; 
	font-size: 1rem;
	font-weight: 100;
	padding-left: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}

.features li {
	padding: 0.35rem 0;
}

.event-description {
	font-family: 'Cormorant Garamond', serif; 
	font-size: 1rem;
	font-style: italic;
	font-weight: 100;
	display: block;
	margin-left: 0;
}

.package-card {
	background-color: #fff;

	display: flex;
	justify-content: space-between;
	margin: 1rem auto;
	width: 70%;
	padding: 3rem;
}

#hero {
	position: static;
}

#what-we-offer {
	margin-top: 6rem;
}

#addressWrapper {
	padding: 4rem 0;
}









/* XXXXXX 3.2 Site Header XXXXXX */

header {
	margin-bottom: 5rem;
	padding: 0;
}

.logo {
	width: 80px;
	margin: 0 auto 0.75rem auto;
	display: block;
}

.tablet-logo-container {
	display: none;
}









/* XXXXXX 3.3 Site Footer XXXXXX */

footer {
	width: 100%;
}

footer {
	display: flex;
	padding: 4rem 0;
}

footer > div {
	display: flex;
	flex-direction: column;
}

footer > div:first-of-type, footer > div:last-of-type {
	width: 11rem;
}

footer > div:nth-of-type(2) {
	width: 100%;
}

footer li {
	padding-bottom: 0.25rem;
}

footer .logo {
	width: 3rem;
}

footer h1 {
	font-size: 1.25rem;
}

footer h1 ~ p {
	font-size: 0.75rem;
}

footer h4 {
	font-size: 1rem;
}

footer > div:last-of-type {
	text-align: right;
}

.footer-logo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}

#social-media-btn a {
	padding-right: 1rem;
}

.col-1-2 a {
    text-decoration: none;
    color: #000000;
}









/* XXXXXX 3.4 Event Cards XXXXXX */

@-webkit-keyframes fade-in {

    0% { 
    	opacity: 0;
	}

    100% { 
    	opacity: 1; 
    }
}

@keyframes fade-in {

     0% { 
    	opacity: 0;
	}

    100% { 
    	opacity: 1; 
    }
}

#business, 
#tailgates, 
#aeries, 
#greek-life,
#wine-down-wednesday  {
    left: -5550px;
    -webkit-animation: face-in 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: fade-in 0.5s forwards;
}

#weddings .package-card:first-of-type > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/talon-room-wedding.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}

#weddings .package-card:nth-of-type(2) > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/chefauchef-wedding-special.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}

#business .package-card:first-of-type > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/business.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}

#tailgates .package-card:first-of-type > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/tailgate.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}

#aeries .package-card:first-of-type > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/aeries.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}

#greek-life .package-card:first-of-type > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/greek-formals.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}

#greek-life .package-card:nth-of-type(2) > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/greek-life-events.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}

#wine-down-wednesday .package-card:first-of-type > div:first-of-type {
	background-repeat: no-repeat;
	background-image: url(../img/wine-down-wednesday.jpg);
	background-size: 100%;
	background-position: right;
	margin-right: 30px;
	max-width: 50%;
	min-width: 390px;
}









/* >>>>>> 4.0  M E D I A <<<<<< */

.img-fullwidth {
	width: 100%;
	max-width: 525px;
	min-width: 350px;
}

.red-lines {
	position: absolute;
	top: 85%;
	left: 80%;
	width: 40%;
}

.bg-gray-bar {
	background-color: #f6f3f3;
	height: 190px;
	width: 100%;
	z-index: -1;
	position: absolute;
}

.bg-gray {
	background-color: #f6f3f3;
}

#hero img {
	margin-top: -50px;
}

#hero > .bg-gray-bar {
	right: 0;
	height: 205px;
}

#home-stamp {
	width: 35%;
	min-width: 200px;
	
	position: absolute;
	top: 61%;
    left: 63%;
}

#about img:nth-of-type(2) {
	width: 32%;
	min-width: 100px;

	position: absolute;
	top: 62%;
	left: 17%;
}

#googleCalendar {
	width: 100%;
	height: 900px;
}

#map {
  	height: 350px;
  	margin-top: 15px;
  	width: 40%;
}

#events img:nth-of-type(2) {
	width: 32%;
	min-width: 100px;

	position: absolute;
	top: 62%;
	left: 27%;
}/* This is the smaller wine glass image */

#what-we-offer img {
	margin-left: 5rem;
}/* This is moving the floor plan inwards */









/* XXXXXX 4.1 Carousel XXXXXX */

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.carousel {
  	max-width: 100%;
  	position: relative;
  	margin: 0 auto;
}

.dot {
  	height: 13px;
  	width: 13px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%; /* Needs vendor prefix */
  	display: inline-block;
  	transition: background-color 0.6s ease;
}

.active {
  	background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}









/* >>>>>> 5.0  U T I L I T Y <<<<<< */

.border-bottom {
	border-bottom: 1px solid black;
}

.flex {
	display: flex;
}

.relative {
	position: relative;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.menu-item {
  	display: none;
}/* By default, we will hide all of our packages */









/* DROP DOWN STYLING STARTS HERE...TO BE STYLED/ORGANIZED */

#packages select {
	font-family: 'Gibson', sans-serif; 
	font-size: 1rem;
	font-weight: 100;
	padding-left: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	background-color: #f6f3f3;
	border-bottom: none;
}

select:focus {
	outline: 0;
}

#packages .select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
  padding-left: 30px;
}

#packages .option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:#333;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
}

#packages .option:hover {
  background:#666;
}
























































/* 5.0 COLUMN WIDTHS - DELETE ONCE COMPLETE */

/* ONE COLUMN */

.col-1-1 {
	width: 100%;
}

/* TWO COLUMNS */

.col-1-2 {
	width: 50%;
}

/* THREE COLUMNS */

.col-1-3 {
	width: 33.33%
}

.col-2-3 {
	width: 66.671%
}

.col-2-5 {
	width: 40%;
}
/* FOUR COLUMNS */

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

/* FIVE COLUMNS */

.col-1-5 {
	width: 20%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

/* SIX COLUMNS */

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.34%;
}

/* SEVEN COLUMNS */

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.715%;
}

/* EIGHT COLUMNS */

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

/*  NINE COLUMNS */

.col-1-9 {
	width: 11.11%;
}

.col-8-9 {
	width: 88.89%;
}

/* TEN COLUMNS */

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}

/* ELEVEN COLUMN */

.col-1-11 {
	width: 9.09%;
}

.col-10-11 {
	width: 90.91%;
}

/* TWELVE COLUMNS */

.col-1-12 {
	width: 8.33%;
}

.col-11-12 {
	width: 91.67%;
}












/* >>>>>> 6.0   T A B L E T  S I Z E  <<<<<< */

@media (max-width: 1050px) {


/* XXXXXX 6.1 Tablet Header XXXXXX */

.desktop-logo {
	display: none;
}

.tablet-logo-container {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

/* XXXXXX 6.2 Tablet Structure XXXXXX */

.wrapper {
	width: 95%;
}

#addressWrapper {
	width: 100%;
}

#map {
	width: 100%;
}

#googleCalendar {
	width: 100%;
	height: 600px;
}


/* XXXXXX 6.3 Tablet Typography XXXXXX */
/* XXXXXX 6.4 Tablet Buttons XXXXXX */
/* XXXXXX 6.5 Tablet Media XXXXXX */
/* XXXXXX 6.6 Tablet Footer XXXXXX */

}




/* >>>>>> 7.0   M O B I L E  S I Z E  <<<<<< */

@media (max-width: 480px) {

/* XXXXXX 7.1 Mobile Header XXXXXX */

header {
	margin-bottom: 2rem;
}

.mobile-btn-wrapper {
	display: flex;
	justify-content: flex-end;
}

.main-nav {
	display: none;
}

.mobile-nav > ul {
	padding: 0;
}

/* XXXXXX 7.2 Mobile Structure XXXXXX */

.wrapper {
	width: 100%;
}

.col-1-2 {
	width: 100%;
	padding: 0;
}

#what-we-offer {
	margin-top: 0;
}

/* XXXXXX 7.3 Mobile Typography XXXXXX */

h2 {
	padding: 0 1rem;
	font-size: 2.65rem;
	text-align: left;
	margin-bottom: 3rem;
}

#contact h2, #form-container h2 {
	font-size: 2.25rem;
}

#contact h5, #contact h3 {
	padding: 0 1rem;
}

#contact .cta-btn {
	margin-bottom: 3rem;
}

form {
	width: 100%;
}

#what-we-offer h3 {
	padding-left: 2rem;
}

#what-we-offer p {
	text-align: left;
}


p {
	line-height: 2rem;
	padding: 0 1rem;
}

blockquote {
	font-size: 1.45rem;
	letter-spacing: 0.73px;
	line-height: 2.5rem;
	margin: 0;
	padding: 3rem;
}

/* XXXXXX 7.4 Mobile Buttons XXXXXX */

/* XXXXXX 7.5 Mobile Media XXXXXX */

img {
	margin: 0 auto;
	width: 100%;
}

#about img:nth-of-type(2) {
	display: none;
}


.bg-gray-bar {
	display: none;
}

#events img:nth-of-type(2) {
	display: none;
}


/* XXXXXX 7.6 Mobile Footer XXXXXX */

footer {
	display: flex;
	flex-direction: column;

	align-items: center;
}

footer > div {
	width: 100%;
	margin: 1rem 0;
}

footer > div:nth-of-type(2) {
	order: -1;
}

footer nav > ul:first-of-type {
	display: none;
}

footer > div:last-of-type {
	text-align: center;
}

#social-media-btn {
	margin: 0 auto;
	text-align: center;
}

#googleCalendarWrapper
{
	overflow:scroll;
}

}